@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
