<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/script/updateFormAction.js"></script>
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="/style/update.css">
  <title>CryptoTracker | Update</title>
</head>
<body>
  <div class="container">
    <h1>UPDATE!</h1>
    <div class="logout-link">
      <a href="/auth/logout">Logout</a>
    </div>
    <div class="form-container">
  <form id="update-crypto-form" method="PUT">
    <input type="hidden" id="id" name="id">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="symbol">Symbol</label>
    <input type="text" id="symbol" name="symbol" required>
    <br>
    
    <button type="submit">Update</button>
  </form>
  </div>
  </div>
  </body>
  </html>